*.log
.DS_Store
.slidev/
check*/
check31/
checkbatch/
checkcs/
checkedit/
checkfix*/
checkinit*/
checknew*/
checkthx/
checkv-l/
checkv/
ck/
ck2/
ckl/
dist/
node_modules/
sheet*.png
slice-check/
slides.md.bak
